@import "tailwindcss";

:root {
  --background: #151515;
  /* --foreground: #ededed; */
  --foreground: #f8f5ef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
